@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to J3M</h1>
    <div class="poster">
       @* make  3 column *@
        <h3>
            Sorry I forgot to create a new branch😭
        </h3>
        <p>Lorem Ipsum </p>
    </div>

    <div>2 columns------Diets carousel</div>

    @* Make it into PartialView Button*@
    <div>Register Now</div> 

</div>
