@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to J3M</h1>
    <div class="poster">
        <h3>
            Sorry I forgot to create a new branch😭
        </h3>
        <p>Lorem Ipsum dskngoaseh toweajtgnegbnaweu</p>
    </div>

</div>
