@*Partial view for change of password on UserPage*@

<h5>Change Password</h5>
<form asp-action="ChangePassword" method="post">
    <div class="mb-3">
        <input type="password" name="CurrentPassword" class="form-control" placeholder="Current password" />
    </div>
    <div class="mb-3">
        <input type="password" name="NewPassword" class="form-control" placeholder="New password" />
    </div>
    <div class="mb-3">
        <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm new password" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
