@model J3M.Shared.DTOs.Users.ProfileDtos.UserProfileDto

<!--Partial view to display User information-->
<div class="card mb-4">
    <div class="card-header">
        <h4>User Profile</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">User Name</dt>
            <dd class="col-sm-8">@Model.UserName</dd>

            <dt class="col-sm-4">Display Name</dt>
            <dd class="col-sm-8">@Model.DisplayName</dd>

            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>
        </dl>
    </div>
</div>