@{
    ViewData["Title"] = "Privacy";
}
<h1 class="display-4 mb-5">@ViewData["Title"]</h1>

@* Introduction to our mission*@
<div class="mb-5 p-3" style="background-color:#2F91F7; border-radius: 1.5rem;">
    <h3 class="mb-4 display-6" style="font-weight:700;">
        At J3M, we care about your privacy
    </h3>
    <p class="h5">
      This page explains how we collect, use, and protect your personal data in accordance with the EU General Data Protection Regulation (GDPR) and Swedish law.
    </p>
</div>



